__pycache__/
assets/barrier/
assets/road/
assets/bus/
Tesi.code-workspace
```
atan.py
*.csv
!vehicle_keyframes.csv
!sensor_keyframes.csv
!camera_details.csv
*.numpy
*.png
camera_*.csv
scan_camera_*.csv
camera_*.numpy
create_csv.py
analize.py
Argoverse/
```
